<div class="container pt-3">
  <h1 class="mb-4">Stupid Coaching</h1>

  <form action="/answer">
    <p>Ask your coach anything:</p>
    <div class="input-group">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
